{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "",
        "ImportMapTableStorage": "",
        "ReferencePreviousVersions": "",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet"
    }
}